@import url(http://fonts.googleapis.com/css?family=Spicy+Rice);
*{
	margin: 0;
	padding: 0;
}
body{
	background: grey;

}
.tudo{
	width: 900px;
	height: 300px;
	
	margin: 200px 0 0 200px;
}
.tudo div:first-child{
	text-align: center;
	border-bottom: 2px solid black;
 
}
.tudo div:last-child{
	text-align: center;
}

h1{
	font-family: 'Spicy Rice', cursive;
	font-size: 90px;
	color: #000;
	cursor: pointer;
	transition:all 5s;
	opacity: 0;

}
h1:hover{
	font-size: 100px;
	transition:all 5s;
}

span{
	font-family: 'Spicy Rice', cursive;
	font-size: 40px;
	margin-left: 10px;
	color:#000;
	padding: 0 50px 0 50px;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
	cursor: pointer;
	transition:all 3s;
	opacity: 0;

}
span:hover{
	color:white;
	font-style: italic;
	transition:all 3s;
}